body {
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
  /* background-color: var(--brand_white); */
  /* background-image: var(--light_background); */
}

:root {
  --accent_colour: #895eed;
  --brand_black: #1a1a1a;
  --brand_white: #fefefe;
  background-image: url(./images/Light_background.svg);
}
.dark_theme {
  --accent_colour: #895eed;
  --brand_black: #fefefe;
  --brand_white: #1a1a1a;
  background-image: url(./images/dark_layer.svg);
}
#nav_icon {
  cursor: pointer;
  padding-right: 3rem;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
  padding: 1.5rem;
  margin: 1;
  gap: 28px;
}

.content {
  /* width: 90%; */
  margin: 0 auto;
  padding: 1em;
}
h6,
h1 {
  color: var(--brand_black);
  font-weight: 500;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}
.hero h1 span {
  color: var(--accent_colour);
}
h6 {
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  margin-top: 4px;
  margin-bottom: 2px;
}
h1 {
  font-size: 11rem;
  letter-spacing: -0.04em;
  line-height: 10.2rem;
  /* width: 70%; */
  margin-top: 2rem;
  margin-bottom: 4rem;
}

button {
  background-color: var(--brand_black);
  padding: 16px 52px 16px 52px;
  border-radius: 32px;
  border: none;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  color: var(--brand_white);
  text-decoration: none;
  transition: 0.3s ease-out;
}
.sec-button .feather {
  margin-bottom: -0.2em;
  width: 18px;
  height: 18px;
}
.sec-button {
  background-color: rgba(0, 0, 0, 0);
  outline: 1px solid var(--brand_black);
  color: var(--brand_black);
  padding: 14px 24px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

footer {
  background-color: #895eed;
  margin-top: 12rem;
}
.footer_content h3,
.footer_links a {
  color: #fefefe;
  list-style: none;
  text-decoration: none;
}

.footer_content h3 {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.06em;
  margin: 0;
}
.footer_content {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 4rem 4rem;
  gap: 4rem;
}
.footer_links {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.top_link,
.bottom_link {
  display: flex;
  gap: 3rem;
}
.footer_links a {
  font-size: 2rem;
  padding: 24px 0px 0px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
  width: 314px;
}
.footer_links a .feather {
  width: 32px;
  height: 32px;
  stroke-width: 1.5;
}

.footer_links a .feather:hover {
  width: 32px;
  height: 32px;
  color: rgba(255, 255, 255, 1);
}
.footer_links a:hover {
  border-top: 2px solid rgba(255, 255, 255, 1);
  transition: 0.3s ease-in;
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.25);
}

.sec-button:hover {
  background-color: var(--brand_black);
  box-shadow: none;
  color: var(--brand_white);
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  h1 {
    font-size: 4.5rem;
    line-height: 5.1rem;
    margin-bottom: 1.5rem;
  }
  h6 {
    font-size: 1rem;
    line-height: 1.7rem;
    width: 200px;
  }
  nav {
    padding: 0.5;
    margin: 0;
  }
  #nav_icon {
    padding-right: 0.5rem;
  }
  .footer_content h3 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 4rem 1rem;
    gap: 4rem;
  }
  .top_link,
  .bottom_link {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .footer_links a {
    font-size: 1.5rem;
    /* padding: 32px 0px 0px; */
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer_links {
    width: 100%;
  }
  footer {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 480px) {
  h1 {
    font-size: 6rem;
    line-height: 6.1rem;
    margin-bottom: 2rem;
  }
  h6 {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 250px;
  }
  nav {
    padding: 0.5;
    margin: 0;
  }
  #nav_icon {
    padding-right: 0.5rem;
  }
  .media {
    width: fit-content;
  }
  .twitter,
  .linkedin,
  .polywork,
  .instagram {
    font-size: 1.2rem;
    padding: 0px 1rem;
  }
  .footer_content h3 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 4rem 1rem;
    gap: 4rem;
  }
  .top_link,
  .bottom_link {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .footer_links a {
    font-size: 1.5rem;
    /* padding: 32px 0px 0px; */
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer_links {
    width: 100%;
    gap: 2rem;
  }
  footer {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 7.4rem;
    line-height: 7.2rem;
  }
  h6 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  nav {
    padding: 0.5;
    margin: 0;
  }
  #nav_icon {
    padding-right: 0.5rem;
  }
  .footer_content h3 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 4rem 1rem;
    gap: 4rem;
  }
  .top_link,
  .bottom_link {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .footer_links a {
    font-size: 1.5rem;
    /* padding: 32px 0px 0px; */
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer_links {
    width: 100%;
  }
  footer {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .top_link {
    flex-wrap: wrap;
  }
}
